polars
rich
scipy
pandas
requests
xlsx2csv
isort
black
statsmodels
numpy<=1.26.3
ray

# PeMSSF (dataset)
holidays 

# PeMSBAY, METRLA (dataset)
gdown

# SWIFT (model)
PyWavelets<=1.8.0
pytorch_wavelets<=1.3.0