torch~=2.1.2
torchvision~=0.16.2
polars~=1.19.0
rich~=14.0.0
scipy~=1.13.0
pandas~=2.2.2
requests~=2.32.3
xlsx2csv~=0.8.4
isort~=5.13.2
black~=23.3.0
numpy~=1.26.3
ray~=2.10.0
statsmodels~=0.14.4

# PeMSSF (dataset)
holidays~=0.64 

# PeMSBAY, METRLA (dataset)
gdown~=5.2.0

# SWIFT (model)
PyWavelets~=1.8.0
pytorch_wavelets~=1.3.0
